* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(180deg, var(--y0, #FFF7D1) 0%, #FFF 236.43%);

    width: 100%;
    min-height: 100dvh;
}
.main{
    display: flex;
    width: 386px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    margin-top: 86px;
}
.header{
    display: flex;
    flex-direction: row;
    gap: 74px;
}
.back{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.back-btn{
    width: 54px;
    height: 54px;

    background: #FFFCEB;
    border: 1px solid #DDD08A;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}
.back-text{
    width: 29px;
    height: 29px;
    
    aspect-ratio: 1/1;
}
.title{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.title-text{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    align-self: stretch;
}
.photospace{
    display: flex;
    height: 464.997px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    aspect-ratio: 346/461;
    overflow: hidden;

    border-radius: 15px;
    border: 2px dashed #34A512;
}
.photospace img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.body-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.vote-box{
    display: flex;
    padding: 16px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.vote-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.maintitle{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}
.goal, .date{
    color: #8F8E8E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.grad-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}
.gradation{
    height: 12px;
    align-self: stretch;

    border-radius: 5px;
    background: linear-gradient(90deg, #4ACA57 0%, #FF0004 100%);
}
.grad-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.agree{
    color: #4ACA57;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.disagree{
    color: #D45B5D;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.vote-choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    align-self: stretch;
}
.opinion{
    align-self: stretch;

    color: #7D7D7D;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.button-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    align-self: stretch;
}

.agree-btn{
    display: flex;
    width: 165px;
    height: 82px;
    padding: 11px 56px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    border-radius: 20px;
    background: #4ACA57;
}
.box-body1{
    display: flex;
    width: 70px;
    flex-direction: column;
    align-items: center;
}
.agree-icon{
    width: 33px;
    height: 33px;
    aspect-ratio: 1/1;
}
.disagree-btn{
    display: flex;
    width: 165px;
    height: 82px;
    padding: 14px 56px 18px 57px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 20px;
    background: #FF5154;
}
.box-body2{
    display: flex;
    width: 70px;
    flex-direction: column;
    align-items: center;
}
.disagree-icon{
    width: 33px;
    height: 33px;
    aspect-ratio: 1/1;

    transform: rotate(180deg);
}
.agree-text{
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.disagree-text{
    width: 100px;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
button{
    border: none;
}