* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(180deg, var(--y0, #FFF7D1) 0%, #FFF 236.43%);

    width: 100%;
    min-height: 100dvh;
}

.header {
    width: 394.999px;
    height: 167.153px;
    display: flex;
    flex-direction: row;

}

.bird {
    width: 176px;
    height: 151.153px;

align-self: flex-end;
}
.bubble-box{
    width: 257px;
    
}
.bubble-box svg{
    width: 100%;
    height: auto;
    
}
.smilebird{
    width: 176px;
    margin-top: 20px;
}
.bubble{
    width: 257px;
    margin-left: -40px;
}
.bubble-text {
    margin-top: -55px;
    margin-right: 10px;

    text-align: left;
    color: #000;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.11px;
    margin-bottom: 40px;
}
.content {
    display: flex;
    width: 385px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}
.block{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block:nth-child(4){
    margin-bottom: 30px;
}
label{
    color: #7D7D7D;
    font-family: Inter;
    font-size: 15.932px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.159px;

    padding-left: 12px;
}
.button{
    text-decoration: none;
    border: none;
    display: flex;
    width: 385px;
    height: 72px;
    justify-content: center;
    align-items: center;
    

    border-radius: 20px;
    background: #CFCFCF;
    margin-top: 10px;

}

.button.active{
    background: #7DABE1;
    cursor: pointer;
}
.button-text {
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.25px;
} 

.input-wrapper {
    width: 385px;
    height: 72px;
    
    display: flex;
    flex-direction: row;
    align-items: center;   
    overflow: hidden;
    background-color: #FFF;
    border: 1px solid #7D7D7D;
    border-radius: 20px;
}
.input-wrapper input {
    border: none;         
    background: none;     
    outline: none;
    flex: 1;              
    height: 100%;
    font-size: 20px;
}

.x-button {
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    margin-right: 15px;
}
